{
  "env": {
    "node": true
  },
  "extends": "airbnb-base",
  "rules": {
    "max-len":["error" , {
      "code": 102,
      "tabWidth": 2,
      "ignoreComments": true,
      "ignoreUrls": true
    }],
    "comma-dangle": ["error", "always-multiline"],
    "consistent-return": "off",
    "object-curly-newline": "off",
    "no-unused-vars": "warn",
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true}],
    "valid-jsdoc": ["warn" , {
      "requireReturn": true,
      "requireReturnType": true,
      "requireParamDescription": false,
      "requireReturnDescription": false
    }
    ],
    "require-jsdoc": ["warn" ,{
      "require": {
        "FunctionDeclaration": true,
        "MethodDefinition": true,
        "ClassDeclaration": true
      }
    }
    ]
  }
}
